.pop-up{
    width: 50%;
    height: 50vh;
    margin-top:0;

    background-color:#f2f2f2;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.all-window{
    top: 0;
    display: flex;
    align-items: center;
    left: 0;
    width:100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
}
.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stripe-inputs{
    background-color: #42424242;
    color: white;
    height: 30px;
    width: 300px;
    border-radius: 15px;
}
@media(max-width: 755px){
    .pop-up{
        position: fixed;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .example{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: solid black 2px;
    }
    .checkout{
        width: 80%;
        height: 30%;
        justify-content: space-between;
    }
    .stripe-inputs{
        width: 100%;
    }
}